# ID5
This Jupyter notebook shows the application of the ID5 class and its functions.

The ID5 spectrometer is one of the laboratory equipement in our research group `B-Lab`. In the following, there are nessessary functions for reading and analyzing ID5-files, calculating important values and visualizing results. 

All functions have a description, in case some input variables seem unclear. Also please notice the output prints of functions! Some functions have valuable information or error messages!

In [7]:
import matplotlib.pyplot as plt
import pandas as pd
from src import devices as blab
from scipy import optimize

### <u>Reading the files</u>

ID5-files must be saved by the user in TXT- and utf-8 format.

FRET measurements use emission and excitation wavelengths. These are not completely or incorrectly exported when writing the ID5-files. Therefore you will need to write the wavelengths into a dictionary, as shown below:

In [8]:
wavelength_pairs = {
    "Dex_Dem": [530, 595],
    "Dex_Aem": [530, 660],
    "Aex_Aem": [630, 660]
}

To use these values in the FRET calculations, they need to be passed to the ID5 function in a dictionary.
The function `ID5` is much more than just the function to read the files - but this is not relevant now. You need to know the following:
- The function requires the name of the file you would like to read and the aforementioned wavelength pairs variable as such: 
`blab.ID5(filepath, wavelength pairs variable)`

If the file has been successfully loaded, the measurements that have been read in will be displayed. The measurements are named with "Measurement_" and a consecutive number. The usage and output is shown below:

In [9]:
my_id5_data = blab.ID5("src/id5_data/2023-05-22_NaCl-titration_VS.txt", wavelength_pairs)

Measurement_1 = FRET_21°C: Endpoint, Fluorescence
Measurement_2 = FRET_23°C: Endpoint, Fluorescence
Measurement_3 = FRET_25°C: Endpoint, Fluorescence
Measurement_4 = FRET_27°C: Endpoint, Fluorescence
Measurement_5 = FRET_29°C: Endpoint, Fluorescence
Measurement_6 = FRET_31°C: Endpoint, Fluorescence
Measurement_7 = FRET_33°C: Endpoint, Fluorescence
Measurement_8 = FRET_35°C: Endpoint, Fluorescence
Measurement_9 = FRET_37°C: Endpoint, Fluorescence
Measurement_10 = FRET_39°C: Endpoint, Fluorescence
Measurement_11 = FRET_41°C: Endpoint, Fluorescence
Measurement_12 = FRET_43°C: Endpoint, Fluorescence
Measurement_13 = FRET_45°C: Endpoint, Fluorescence
Measurement_14 = FRET_47°C: Endpoint, Fluorescence
Measurement_15 = FRET_49°C: Endpoint, Fluorescence
Measurement_16 = FRET_51°C: Endpoint, Fluorescence
Measurement_17 = FRET_53°C: Endpoint, Fluorescence
Measurement_18 = FRET_55°C: Endpoint, Fluorescence
Measurement_19 = FRET_57°C: Endpoint, Fluorescence
Measurement_20 = FRET_59°C: Endpoint, Fluorescence
Measurement_21 = FRET_61°C: Endpoint, Fluorescence
Measurement_22 = FRET_63°C: Endpoint, Fluorescence
Measurement_23 = FRET_65°C: Endpoint, Fluorescence

Summary: <u> what you need to write into your Jupyter Notebook first </u>:

1. `from src import devices as blab`
2. the correct wavelength pairs as shown above, saved in a variable
3. `blab.ID5(filepath, wavelength pairs variable)` saved in a variable

### <u>Accessing specific measurements</u>

The measurements are kept in the attribute "measurements" of the variable "my_id5_data".
This is simply a dictionary that contains all measurements.

In [10]:
print(my_id5_data.measurements["Measurement_1"])

<src.devices.ID5MeasureFluorescence object at 0x000002303D7E9E50>

When accessing Measurement 1, the result appears unusual. This is due to the fact that the measurements are saved as objects.
Objects are, in a nutshell, complex variables. They have attributes such as the measurement's name or the data in a dataframe. Furthermore, the objects include functions that can be used to improve data interaction.
You can store the measurement in a new variable and examine the name of the measurement and the data in it. The informations are stored in the "section_name" and "working_df" attribute.

Consider the following:

In [11]:
measure_1 = my_id5_data.measurements["Measurement_1"]

print(f"Name of the Measurement = {measure_1.section_name}")

df_of_measurement_1 = measure_1.working_df
df_of_measurement_1

Name of the Measurement = FRET_21°C

,excitation wavelength (nm),emission wavelength (nm),temperature (°C),wellnumber,RFU
0,530,595,21.5,A1,3910
1,530,595,21.5,A2,670661
2,530,595,21.5,A3,548059
3,530,595,21.5,A4,1061004
4,530,595,21.5,A5,1016300
...,...,...,...,...,...
211,630,660,21.5,H5,4266
212,630,660,21.5,H6,5750122
213,630,660,21.5,H7,5296
214,630,660,21.5,H8,5189372
215,630,660,21.5,H9,6640

### <u>Accessing specific wells</u>

With the function `get_well()`, you can choose the well, you would like to work on and save it as a dataframe. It is a function of the objects, so that you only need to specify which wellnumber, you would like to access. 

Because this is a standard pandas DataFrame, the function `get_well()` does not exist in the dataframe "df_of_measurement_1". To access `get_well()`, you have to use the object named "measure_1".

In [12]:
df_A3 = measure_1.get_well("A3")
df_A3

,excitation wavelength (nm),emission wavelength (nm),temperature (°C),wellnumber,RFU
2,530,595,21.5,A3,548059
74,530,660,21.5,A3,810202
146,630,660,21.5,A3,3444795

If the wellnumber does not exist or you made a typo, the function will print an error message:

In [13]:
df_nonexistant = measure_1.get_well("A13")

ERROR: Wellnumber does not exist.
Accessible wellnumbers: ['A1' 'A2' 'A3' 'A4' 'A5' 'A6' 'A7' 'A8' 'A9' 'B1' 'B2' 'B3' 'B4' 'B5'
 'B6' 'B7' 'B8' 'B9' 'C1' 'C2' 'C3' 'C4' 'C5' 'C6' 'C7' 'C8' 'C9' 'D1'
 'D2' 'D3' 'D4' 'D5' 'D6' 'D7' 'D8' 'D9' 'E1' 'E2' 'E3' 'E4' 'E5' 'E6'
 'E7' 'E8' 'E9' 'F1' 'F2' 'F3' 'F4' 'F5' 'F6' 'F7' 'F8' 'F9' 'G1' 'G2'
 'G3' 'G4' 'G5' 'G6' 'G7' 'G8' 'G9' 'H1' 'H2' 'H3' 'H4' 'H5' 'H6' 'H7'
 'H8' 'H9']

### <u>Removing the blanks = calculate bg corrected values</u>

The function for removing blanks must know two things in order to complete the blank correction :

1. Which of the measurements contain blanks?
2. Which wells were these blanks measured in?

It will then go through all of the measurements, collecting values from the chosen wells and computing a mean blank.
The values in the "working_df" of the specified measurements are then background corrected.

To achieve this, the lines of the code below are absolutely necessary. First, an empty list is created, the names of the measurements extracted and then looped over those, to only get the necessary ones (in this case, those measurements which have the word "FRET" in the section name).

In [6]:
# creating a list of measurement names
FRET_measurements = []
measure_names = my_id5_data.measurements.keys()
for name in measure_names:
    measurement = my_id5_data.measurements[name]
    name_1 = measurement.section_name
    if "FRET" in name_1:
        FRET_measurements.append(name)
print(FRET_measurements)

['Measurement_1', 'Measurement_2', 'Measurement_3', 'Measurement_4', 'Measurement_5', 'Measurement_6', 'Measurement_7', 'Measurement_8', 'Measurement_9', 'Measurement_10', 'Measurement_11', 'Measurement_12', 'Measurement_13', 'Measurement_14', 'Measurement_15', 'Measurement_16', 'Measurement_17', 'Measurement_18', 'Measurement_19', 'Measurement_20', 'Measurement_21', 'Measurement_22', 'Measurement_23']
552
3477.1485507246375

Next, you need to define, which wellnumbers contain the blanks. This is best given as a list.

You can then use the function `calculate_blank()` in which you need to specify the specific measurements and blank wellnumbers. As you already have lists of both, you put them as parameter into the function, as seen below. 

Summary: \
This function requires three parameters (in this order):
1. the (FRET) measurement list
2. the wellnumber list

In [ ]:
# creating a list of wells with blank samples
blank_wells = ["A1", "B1", "C1", "D1", "E1", "F1", "G1", "H1"]

# calculating the mean blank and correct the values
mean_blank = my_id5_data.calculate_blank(FRET_measurements, blank_wells)
print(mean_blank)

In each defined measurement, the working_df is also modified.  A new column called "bg_corrected_RFU" has been added.

In [7]:
my_id5_data.measurements["Measurement_1"].working_df

,excitation wavelength (nm),emission wavelength (nm),temperature (°C),wellnumber,RFU,bg_corrected_RFU
0,530,595,21.5,A1,3910,4.328514e+02
1,530,595,21.5,A2,670661,6.671839e+05
2,530,595,21.5,A3,548059,5.445819e+05
3,530,595,21.5,A4,1061004,1.057527e+06
4,530,595,21.5,A5,1016300,1.012823e+06
...,...,...,...,...,...,...
211,630,660,21.5,H5,4266,7.888514e+02
212,630,660,21.5,H6,5750122,5.746645e+06
213,630,660,21.5,H7,5296,1.818851e+03
214,630,660,21.5,H8,5189372,5.185895e+06
215,630,660,21.5,H9,6640,3.162851e+03

### <u> insert new data into a new column </u>

Each measurement has its own function here as well. The `add_new_column()` function can be used with a dictionary to assign a new value to an already existing value in the dataFrame. For example, in all rows where the column "wellnumber" contains the value "A1" assign the value 10 to a new column "concentration" :

In [14]:
# Information about concentration of ions in nM
concentrations = {"A2":0,"B2":1,"C2":2.5,"D2":5, "E2":7.5,"F2":10, "G2":12.5,"H2":25,
            "A3":50,"B3":75,"C3":100,"D3":500,
            "A4":0,"B4":1,"C4":2.5,"D4":5,"E4":7.5,"F4":10, "G4":12.5, "H4":25,
            "A5":50,"B5":75,"C5":100,"D5":500,
            "A6":0,"B6":1, "C6":2.5,"D6":5,"E6":7.5,"F6":10,"G6":12.5,"H6":25,
            "A7":50,"B7":75,"C7":100, "D7":500,
            "A8":0,"B8":1,"C8":2.5, "D8":5, "E8":7.5,"F8":10,"G8":12.5,"H8":25,
            "A9":50,"B9":75,"C9":100,"D9":500
}

# Do it for 1 Measurement:
my_id5_data.measurements["Measurement_1"].add_new_column("wellnumber", concentrations, "concentration (nM)")
my_id5_data.measurements["Measurement_1"].working_df

,excitation wavelength (nm),emission wavelength (nm),temperature (°C),wellnumber,RFU,concentration (nM)
0,530,595,21.5,A1,3910,NaN
1,530,595,21.5,A2,670661,0.0
2,530,595,21.5,A3,548059,50.0
3,530,595,21.5,A4,1061004,0.0
4,530,595,21.5,A5,1016300,50.0
...,...,...,...,...,...,...
211,630,660,21.5,H5,4266,NaN
212,630,660,21.5,H6,5750122,25.0
213,630,660,21.5,H7,5296,NaN
214,630,660,21.5,H8,5189372,25.0
215,630,660,21.5,H9,6640,NaN

You can also do this step for all of your measurements. In the following code cell, thi sis done for all measurements containing the word "FRET".

In [9]:
# Do it for all FRET Measurements
for measurement_name, measurement in my_id5_data.measurements.items():
    if "FRET" in measurement.section_name:
        measurement.add_new_column("wellnumber", concentrations, "concentration (nM)")
# Example print
my_id5_data.measurements["Measurement_9"].working_df

,excitation wavelength (nm),emission wavelength (nm),temperature (°C),wellnumber,RFU,bg_corrected_RFU,concentraion_nM
0,530,595,37,A1,3466,-1.114855e+01,NaN
1,530,595,37,A2,577470,5.739929e+05,0.0
2,530,595,37,A3,452732,4.492549e+05,50.0
3,530,595,37,A4,851364,8.478869e+05,0.0
4,530,595,37,A5,805148,8.016709e+05,50.0
...,...,...,...,...,...,...,...
211,630,660,37,H5,6070,2.592851e+03,NaN
212,630,660,37,H6,4835381,4.831904e+06,25.0
213,630,660,37,H7,4750,1.272851e+03,NaN
214,630,660,37,H8,4201660,4.198183e+06,25.0
215,630,660,37,H9,7364,3.886851e+03,NaN

## <u> Calculating FRET </u>

The following code cells are to be taken as a pipeline - from reading the data to calculating FRET values.

Therefore, the wavelength pairs are defined first, as already mentioned. Then, `ID5()` is used to aquire the data of the file.

In [2]:
wavelength_pairs = {
        "Dex_Dem": [530, 595],
        "Dex_Aem": [530, 670],
        "Aex_Aem": [630, 670]}

my_id_5_data = blab.ID5("C:/Users/reuss/Documents/GitHub/Visual_FRET/src/id5_data/2023-03-15_Praktikum_FRET3_VS.txt", wavelength_pairs)

Measurement_1 = Korrekturmatrix Flur: Endpoint, Fluorescence
Measurement_2 = Korr.Mat. Cy3: Endpoint, Fluorescence
Measurement_3 = Korr.Mat. Cy5: Endpoint, Fluorescence
Measurement_4 = EmCy3: Spectrum, Fluorescence
Measurement_5 = EmCy5: Spectrum, Fluorescence
Measurement_6 = 20°C: Endpoint, Fluorescence
Measurement_7 = FRET 20 °C: Endpoint, Fluorescence
Measurement_8 = 25°C: Endpoint, Fluorescence
Measurement_9 = FRET 25 °C: Endpoint, Fluorescence
Measurement_10 = 30 °C: Endpoint, Fluorescence
Measurement_11 = FRET 30 °C: Endpoint, Fluorescence
Measurement_12 = 35°C: Endpoint, Fluorescence
Measurement_13 = FRET 35 °C: Endpoint, Fluorescence
Measurement_14 = 40°C: Endpoint, Fluorescence
Measurement_15 = FRET 40 °C: Endpoint, Fluorescence
Measurement_16 = 43°C: Endpoint, Fluorescence
Measurement_17 = FRET 43°C: Endpoint, Fluorescence
Measurement_18 = 45°C: Endpoint, Fluorescence
Measurement_19 = FRET 45 °C: Endpoint, Fluorescence
Measurement_20 = 47°C: Endpoint, Fluorescence
Measurement_21 = FRET 47°C: Endpoint, Fluorescence
Measurement_22 = 50°C: Endpoint, Fluorescence
Measurement_23 = FRET 50°C: Endpoint, Fluorescence
Measurement_24 = 52°C: Endpoint, Fluorescence
Measurement_25 = FRET 52°C: Endpoint, Fluorescence
Measurement_26 = 55°C: Endpoint, Fluorescence
Measurement_27 = FRET 55°C: Endpoint, Fluorescence

Next, the background-corrected RFU values are calculated using the `calculate_blank()` function. Beforehand, you need to definde the specific blank wells and the specific measurements.

In [10]:
# creating a list of wells with blank samples
blank_wells = ["A5", "B5", "C5", "D5", "E5", "F5", "G5", "H5"]

FRET_measurements = []
measure_names = my_id_5_data.measurements.keys()
for name in measure_names:
        measurement = my_id_5_data.measurements[name]
        name_1 = measurement.section_name
        if "FRET" in name_1:
                FRET_measurements.append(name)
print(f"FRET-Measurements:\n {FRET_measurements}")

# calculating the mean blank and correct the values
mean_blank = my_id_5_data.calculate_blank(FRET_measurements, blank_wells)
my_id_5_data.measurements["Measurement_7"].working_df

The FRET-Measurements:
 ['Measurement_7', 'Measurement_9', 'Measurement_11', 'Measurement_13', 'Measurement_15', 'Measurement_17', 'Measurement_19', 'Measurement_21', 'Measurement_23', 'Measurement_25', 'Measurement_27']

,excitation wavelength (nm),emission wavelength (nm),temperature (°C),wellnumber,RFU,bg corrected RFU,FRET
0,530,595,21.5,A5,-2098.375,-2098.375,0.759041
1,530,595,21.5,A6,32343.625,32343.625,-2.742321
2,530,595,21.5,A7,1794497.625,1794497.625,0.304241
3,530,595,21.5,A8,1691371.625,1691371.625,0.095668
4,530,595,21.5,B5,-1901.375,-1901.375,-55.161104
...,...,...,...,...,...,...,...
59,530,670,21.5,G8,-1275.875,-1275.875,2.409101
60,530,670,21.5,H5,-827.875,-827.875,1.137777
61,530,670,21.5,H6,-1490.875,-1490.875,2.200532
62,530,670,21.5,H7,2961982.125,2961982.125,0.173477
63,530,670,21.5,H8,-1267.875,-1267.875,2.447162

### Correction Matrices

The correction matrix is needed for calculating bleedthrough and direct Excitation. Therefore it needs to be generated beforehand from the measurements of Cy3 and Cy5.

The function requires the following parameters:
1. under measurement_cy3: the specific Cy3 measurement for the correction matrix
2. under measurement_cy5: the specific Cy5 measurement for the correction matrix
3. under wellnumber: number of the well as a string (eg. "A2")

In [4]:
cm_cy3 = my_id_5_data.calculate_correction_matrix(measurement_cy3="Measurement_1", measurement_cy5="Measurement_2", wellnumber="A5")
cm_cy3

    Ex/Em  em_595  em_670
0  ex_530  -399.5  -259.5
1  ex_530     0.0 -4847.0

In [5]:
cm_cy5 = my_id_5_data.calculate_correction_matrix("Measurement_1", "Measurement_2", "B5")
cm_cy5

    Ex/Em  em_595  em_670
0  ex_530   399.5   259.5
1  ex_530     0.0  4847.0

### <u>Calculating bleedthrough and direct excitation</u>

The function `calculate_bleedthrough()` is used to calculate the bleedthrough, either of the donor or the acceptor, whereas the function `calculate_directExcitation()` is used to calculate the direct excitation of either donor or acceptor. 

The functions require: 
1. the correction matrix
2. the donor ("D") or acceptor ("A") type

In [6]:
bt_d = my_id_5_data.calculate_bleedthrough(cm_cy3, "D")
bt_a = my_id_5_data.calculate_bleedthrough(cm_cy5, "A")

de_d = my_id_5_data.calculate_directExcitation(cm_cy3, "D")
de_a = my_id_5_data.calculate_directExcitation(cm_cy5, "A")

You chose donor bleedthrough calculations.
Bleedthrough of donor: 0.6496 (64.96%).

You chose acceptor bleedthrough calculations.
Division with zero encountered. It is what it is.
Bleedthrough of Acceptor set to zero.

You chose donor direct excitation calculations.
Divide by zero encountered. It is what it is.
Direct excitation of donor set to zero.

You chose acceptor direct excitation calculations.
Direct Excitation of Acceptor: 0.0535 (5.35%).

As you can see, these functions print out some information concerning the calculations. It can happen, that values in the correction matrix are zero. In this case, the bleedthrough or direct excitation are set to 0.

### FRET! 

For calculating the FRET values, you need the following parameters: 
1. the aforementioned list of FRET measurements
2. the correction matrix of Cy5
3. donor bleedthrough
4. acceptor direct excitation

In [7]:
fret = my_id_5_data.calculate_FRET(FRET_measurements, cm_cy5, bt_d, de_a)
my_id_5_data.measurements["Measurement_7"].working_df

,excitation wavelength (nm),emission wavelength (nm),temperature (°C),wellnumber,RFU,bg corrected RFU,FRET
0,530,595,21.5,A5,-2098.375,-2098.375,0.759041
1,530,595,21.5,A6,32343.625,32343.625,-2.742321
2,530,595,21.5,A7,1794497.625,1794497.625,0.304241
3,530,595,21.5,A8,1691371.625,1691371.625,0.095668
4,530,595,21.5,B5,-1901.375,-1901.375,-55.161104
...,...,...,...,...,...,...,...
59,530,670,21.5,G8,-1275.875,-1275.875,2.409101
60,530,670,21.5,H5,-827.875,-827.875,1.137777
61,530,670,21.5,H6,-1490.875,-1490.875,2.200532
62,530,670,21.5,H7,2961982.125,2961982.125,0.173477
63,530,670,21.5,H8,-1267.875,-1267.875,2.447162

The last step is to make beautiful tidy data. This is achieve by the following code:

In [ ]:
# hier jetzt Aufteilung in IDD, IAD, IAA
# hier wird das neue dataframe "gebaut":
# spalten: temp, wellnum, i_dd, i_ad, i_aa
# i' und i'' erstellen und ins df einfügen

# Carry

# Genesis

# Nanodrop

# <u> Calculations</u>

The calculated corrections for bleedtrough, direct excitation and FRET were taken from
 
    Börner R, Kowerko D, Hadzic MCAS, König SLB, Ritter M, et al. (2018)
    Simulations of camera-based single-molecule fluorescence experiments. PLOS ONE 13(4): e0195277.
    https://doi.org/10.1371/journal.pone.0195277